[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = git@github.com:contributorpw/hugo-book.git
[submodule "content-external/google-apps-script-snippets"]
	path = content-external/google-apps-script-snippets
	url = git@github.com:contributorpw/google-apps-script-snippets.git
