{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" .Site.Params.BookDateFormat }}
<header class="markdown">
  <h1>{{ .Title }}</h1>
  <h5>
    <strong>{{ .Date.Format $dateFormat }}</strong>
  </h5>
</header>
<article class="markdown">
  {{- .Content -}}

  {{ $part := print "content-external/google-apps-script-snippets/" .Dir }}
  {{ $files := readDir $part }}

  {{/*  {{ $tocFilesJs := slice }}  */}}
  {{ range $files }}
    {{ if eq (substr .Name -1 3) ".js" }}
      {{/*  <h3 id="{{ .Name }}">{{ .Name }}</h3>  */}}
      {{ $file := readFile (print $part "/" .Name) }}
        {{ highlight ($file) "js" "" }}
        {{/*  {{ partial "shortcodes/expand.html" (dict "0" "sadas" "1" "pp" "Inner" (highlight ($file) "js" "")) }}  */}}
      {{/*  {{ $tocFilesJs = $tocFilesJs | append .Name }}  */}}
    {{ end }}
  {{ end }}

</article>
{{/*  {{ .Scratch.Set "tocFilesJs" $tocFilesJs }}  */}}

{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
